<div class=" content">
  <div class=" row">
    <div class=" col-md-12">
      <div class=" card">
        <div class=" card-header">
          <h4 class=" card-title">Books Available</h4>
        </div>
        <div class=" card-body">
          <div class=" table-responsive">
            <table class=" table tablesorter" id="">
              <thead class=" text-primary">
                <tr>
                  <th>Book Name</th>
                  <th>Author</th>
                  <th>Shelf No</th>
                </tr>
              </thead>
              <tbody>

                <tr *ngFor="let contact of contactList ">
                  <td>{{contact.book_name}}</td>
                  <td>{{contact.author_name }}</td>
                  <td>{{contact.shelf_no}}</td>
                  <td><i class="fas fa-trash-alt fa-2x" (click)="deleteContact(contact._id)"></i></td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>